.AdsBlock{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
    margin-top: 20px;

}

.AdsContent{
    color: white;
    background-color: #1f2020;
    border-radius: 20px;
    text-align: center;
}
.Ads1{
    border-radius: 20px;
    width: auto; 

}

@media screen and (max-width: 1043px){
    .Ads1{
        width: 90%;
        border-radius: 0px;
    }
    
  }