.Contact{
    width: 300px;
   margin-top: 10px;
}

.UserName{
    font-size: 30px;
    font-family: Roboto-Thin;
    margin-left: 10px;
    font-style: italic;
}

@media screen and (max-width: 1100px){
    .UserName{
        font-size: 20px;
    }
    .Contact{
        width: auto;
    }
    
  
  }