.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #2b2c2c;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.LogoCentralSul{
  margin-right: 500px;
}
